/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 8px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    
}

.nav-links {
    display: flex;
    gap: 12px;
    list-style: none; /* Elimina el espacio extra de los puntos */
    padding: 0; /* Asegura que no haya márgenes adicionales */
    right: 20px;
    position: relative;
}



.nav-links li {
    display: flex;
    align-items: center; /* alineacion de texto  */
}

.nav-links li::before {
    content: "•"; /*  punto en lugar de los bullets normales */
    margin-right: 5px; /* espacio entre el punto y el texto */
    color: #1eec63; /*color según el diseño */
}

.stilo{
    color: #1eec63;
    font-size: 20px;
    font-weight: bold;
}

.principal{
    position: relative;
    left: 50px;
    color: #1eec63;
    font-size: 30px;
}

/* Video de fondo */
#video-fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}
#bg-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Secciones */
.section {
    padding: 100px 20px;
    text-align: center;
}

/* Precios */
.pricing-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Sección con columnas */
.info-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    max-width: 1200px;
    margin: auto;
    padding: 40px 20px;
    gap: 40px;
    top: 50px;
    position: relative;
}

.column {
    width: 48%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.divider {
    width: 2px;
    background: rgba(255, 255, 255, 0.884);
    height: auto;
}

.precio-1 {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    color: #1eec63;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    bottom: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    width: 270px;
    left: 840px;
    border-radius: 20%;
    text-align: center;
    pointer-events: auto;
    height: 50px;
}

#precios{
    position: relative;
    bottom: 100px;
}

.titulo2{
    position: relative;
    bottom: 10px;
    color: #1eec63;

}

.titulo3{
    color: #1eec63;
}


.card {
    background: linear-gradient(45deg, #36040463, #484ada);
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.banner-curso {
    background-color: rgba(255, 165, 0, 0.8);
    color: #fff;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    opacity: 0.8;
    bottom: 80px;
    display: inline-block; /* Hace que el ancho dependa del contenido */
    padding: 10px 20px; /* Ajusta el espacio interno */
    background-position: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%); /* Centrar el banner en la pantalla */
    border-radius: 10px;
}

/* Formulario de contacto */
#contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: auto;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px; /* mespacio interno */
    border-radius: 10px;
    box-sizing: border-box; /* spara evitar overflow en los elementos */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    position: relative;
    bottom: 40px;
    }

/* campos del formulario */
#contact-form input, 
#contact-form textarea {
    width: calc(100% ); /* retoque antioverflow */
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box; /* para que los padding no agranden el contect */
}

/* Botón de form input*/
#contact-form button {
    background: #25d366;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: auto; /*ajuste de ancho del boton */
}

.contactenos{
    color: #1eec63;
    font-size: 25px;
    font-weight: bold;
}


/* Footer */
footer {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}
.social-icons img, .payment-icons img {
    width: 60px;
    margin: 0 10px;
    border-radius: 50%;
}

/* WhatsApp fijo */
.whatsapp {
    position: fixed;
    bottom: 140px;
    right: 20px;
    background: none;
    color: white;
    padding: 10px 15px;
    border-radius: 50%;
    text-decoration: none;
    height: 60px;
    width: 60px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}


/* efectos hovers */
.card:hover{
    border-radius:20px;
    -webkit-border-radius:20px;
    box-shadow: 0px 0px 15px 15px #1eec63;
    -webkit-box-shadow: 0px 0px 10px 10px #1eec63;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
   }

   .textodearea{
    height: 100px;
   }

   .column:hover{
    border-radius:20px;
    -webkit-border-radius:20px;
    box-shadow: 0px 0px 15px 15px #1eec63;
    -webkit-box-shadow: 0px 0px 10px 10px #1eec63;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
   }

   .logoprincipal:hover{
    border-radius:50%;
    -webkit-border-radius:50%;
    box-shadow: 0px 0px 15px 15px #1eec63;
    -webkit-box-shadow: 0px 0px 10px 10px #1eec63;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
   }
   
   .stilo:hover{
    border-radius:20px;
    -webkit-border-radius:15px;
    box-shadow: 0px 0px 15px 15px #1eec63;
    -webkit-box-shadow: 0px 0px 10px 10px #1eec63;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
   }

   .contactenos:hover{
    border-radius:20px;
    -webkit-border-radius:15px;
    box-shadow: 0px 0px 15px 15px #1eec63;
    -webkit-box-shadow: 0px 0px 10px 10px #1eec63;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
   }

   #contact-form:hover{
    border-radius:20px;
    -webkit-border-radius:15px;
    box-shadow: 0px 0px 15px 15px #1eec63;
    -webkit-box-shadow: 0px 0px 10px 10px #1eec63;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
   }

   .btn-1:hover{
    border-radius:20px;
    -webkit-border-radius:15px;
    box-shadow: 0px 0px 15px 15px #1eec63;
    -webkit-box-shadow: 0px 0px 10px 10px #1eec63;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
   }

   .whatsapp:hover{
    border-radius:50%px;
    -webkit-border-radius:50%;
    box-shadow: 0px 0px 15px 15px #1eec63;
    -webkit-box-shadow: 0px 0px 10px 10px #1eec63;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
   }


   /* estilos del logo */
   .logoprincipal{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    opacity: 0.9;
   }
   



